.numberCard {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, min-content);
  justify-content: center;
  position: relative;

  @media screen and (min-width: 576px) {
    grid-template-columns: repeat(8, min-content);
  }

  &Item {
    font-size: 1.25rem;
    padding: 0.5em;
    place-self: center;
  }

  &Overlay {
    backdrop-filter: blur(10px);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2
  }
}
