$spacing: 1rem;

$primary: #4cb5fa;
$primary-active: darken($primary, 12%);
$primary-light: #005b99;
$primary-light-active: darken($primary-light, 12%);
$danger: #f49090;
$danger-inactive: darken(desaturate($danger, 40%), 35%);
$danger-light: #b60202;
$danger-light-inactive: lighten(desaturate($danger-light, 60%), 40%);
$success: #09c809;
$success-inactive: darken(desaturate($success, 20%), 20%);
$success-light: #036803;
$success-light-inactive: lighten(desaturate($success-light, 60%), 40%);
$black-0: #808080;
$black-50: #7e7e7e;
$black-100: #777;
$black-200: #6d6d6d;
$black-300: #646464;
$black-400: #5a5a5a;
$black-500: #515151;
$black-600: #484848;
$black-700: #3e3e3e;
$black-800: #353535;
$black-900: #2b2b2b;
$black-1000: #222;
$black-1100: #121212;
$white-0: #808080;
$white-50: #838383;
$white-100: #8d8d8d;
$white-200: #9a9a9a;
$white-300: #a6a6a6;
$white-400: #b3b3b3;
$white-500: #c0c0c0;
$white-600: #cdcdcd;
$white-700: #d9d9d9;
$white-800: #e6e6e6;
$white-900: #f2f2f2;
$white-1000: #fafafa;
$white-1100: #fff;
