.svg {
  display: inline-block;
}

.fillBg {
  fill: white;
}

.fillFg {
  fill: #005b99;
}

@media (prefers-color-scheme: light) {
  .fillBg {
    fill: black;
  }

  .fillFg {
    fill: #4cb5fa;
  }
}
