.svg {
  display: inline-block;
}

.fillBg {
  fill: var(--logo-bg-color);
}

.fillFg {
  fill: var(--logo-fg-color);
}

.outlined {
  border: 1px solid var(--logo-border-color);
  border-radius: 4px;
}
