.header {
  left: 0;
  position: absolute;
  top: 0;
}

.content {
  align-items: center;
  display: flex;
  padding: 0.5rem;
}

.brand {
  font-weight: 600;
  font-size: 1.25rem;

  & > a {
    align-items: center;
    display: flex;
    text-decoration: none;

    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: #d7d7db;
    }

    @media screen and (prefers-color-scheme: light) {
      &,
      &:hover,
      &:focus,
      &:active,
      &:visited {
        color: #4a4a4e;
      }
    }
  }
}
