.offCanvas {
  background-color: var(--oc-bg-color);
  border-right: 1px solid var(--oc-border-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  max-width: 95vw;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  width: 20rem;
  z-index: 10;
}

.header {
  display: flex;
}
